<!-- CONTENT
================================================== -->
<section>
  <div class="container d-flex flex-column">
    <div class="row align-items-center justify-content-center no-gutters min-vh-100">
      <div class="col-12 col-md-6 col-lg-4 py-8 py-md-11">

        <div class="mb-6 text-center">
          <%= link_to image_tag("codefund-by-gitcoin.svg", class: "img-fluid", style: "max-width: 300px;"), root_path %>
        </div>

        <!-- Form -->
        <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "mb-6" }) do |f| %>
          <%= hidden_field_tag :job, params[:job] if params[:job] %>
          <%= hidden_field_tag :remember_me, true if devise_mapping.rememberable? %>

          <!-- Email -->
          <div class="form-group">
            <%= f.input :email,
                label: "Email Address",
                autofocus: true,
                required: true,
                placeholder: "name@address.com",
                input_html: {
                  class: "form-control",
                  autocomplete: "email",
                  tabindex: 1,
                } %>
          </div>

          <!-- Password -->
          <div class="form-group mb-5">
            <%= f.input :password,
                required: true,
                input_html: {
                  class: "form-control",
                  placeholder: "At least 6 characters",
                  autocomplete: "current-password",
                  tabindex: 2,
                } %>
          </div>

          <!-- Submit -->
          <button class="btn btn-block btn-primary" type="submit">
            Log in to CodeFund
          </button>
        <% end %>

        <!-- Text -->
        <p class="mb-0 font-size-sm text-center text-muted">
          <u><%= link_to "I forgot my password", new_password_path(resource_name), tabindex: 5, class: "text-dark" %></u>
        </p>

      </div>
      <div class="col-lg-7 offset-lg-1 align-self-stretch d-none d-lg-block">

        <!-- Image -->
        <div class="h-100 w-cover bg-cover" style="background-image: url(/landkit/img/covers/cover-14.jpg);"></div>
        
        <!-- Shape -->
        <div class="shape shape-left shape-fluid-y svg-shim text-white">
          <svg viewBox="0 0 100 1544" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 0H100V386L50 1158V1544H0V0Z" fill="currentColor"/>
          </svg>
        </div>

      </div>
    </div> <!-- / .row -->
  </div> <!-- / .container -->
</section>