<div class="col-12 col-md-6 col-lg-4 d-flex mb-4">
  <div class="card mb-6 mb-lg-0 shadow-light-lg">
    <%= link_to image_tag(post.featured_image, class: "card-img-top"), buttercms_post_path(post.slug), class: "card-img-top" %>

    <!-- Shape -->
    <div class="position-relative">
      <div class="shape shape-fluid-x shape-bottom svg-shim text-white">
        <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z" fill="currentColor"></path>
        </svg>
      </div>
    </div>

    <%= link_to buttercms_post_path(post.slug), class: "card-body", style: "height: 250px; overflow: hidden;" do %>
      <h3><%= post.title.truncate(45) %></h3>
      <p class="mb-0 text-muted"><%= post.summary.truncate(120) %></p>
    <% end %>
      
    <%= link_to buttercms_post_path(post.slug), class: "card-meta" do %>
      <hr class="card-meta-divider">
      <div class="avatar avatar-sm mr-2">
        <%= image_tag(post.author.profile_image, class: "avatar-img rounded-circle") %>
      </div>
      <h6 class="text-uppercase text-muted mr-2 mb-0">
        <%= "#{post.author.first_name} #{post.author.last_name}" %>
      </h6>
      <p class="h6 text-uppercase text-muted mb-0 ml-auto">
        <time datetime="<%= post.published.to_f %>"><%= Date.parse(post.published).to_s("bdy") %></time>
      </p>
    <% end %>
  </div>
</div>