<%= content_for :html_title, @post.seo_title %>
<%= content_for :meta_description, @post.meta_description %>

<section class="pt-8 pt-md-11">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-md-10 col-lg-9 col-xl-8">
        <h1 class="display-4 text-center"><%= @post.title %></h1>
        <p class="lead mb-7 text-center text-muted"><%= @post.summary %></p>

        <!-- Meta -->
        <div class="row align-items-center py-5 border-top border-bottom">
          <div class="col-auto">
            <div class="avatar avatar-lg">
              <%= image_tag(@post.author.profile_image, class: "avatar-img rounded-circle") %>
            </div>
          </div>
          <div class="col ml-n5">
            <h6 class="text-uppercase mb-0">
              <%= "#{@post.author.first_name} #{@post.author.last_name}" %>
            </h6>
            <time class="font-size-sm text-muted" datetime="2019-05-20">
              Published on <%= Date.parse(@post.published).to_s("bdy") %>
            </time>
          </div>
          <div class="col-auto">
            <div class="addthis_inline_share_toolbox"></div>
          </div>
        </div>

      </div>
    </div> <!-- / .row -->
  </div> <!-- / .container -->
</section>

<section class="pt-6 pt-md-8">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-md-10 col-lg-9 col-xl-8">
        
        <!-- Fugure -->
        <figure class="figure mb-7">

          <!-- Image -->
          <%= image_tag @featured_image_url, class: "figure-img img-fluid rounded lift lift-lg" if @featured_image_url %>

          <% if false %>
            <figcaption class="figure-caption text-center">
              This is a caption on this photo for reference
            </figcaption>
          <% end %>

        </figure>
        
        <%= @body.html_safe %>

        <div class="row align-items-center py-5 border-top border-bottom">
          <div class="col-auto">
            <div class="avatar avatar-lg">
              <%= image_tag(@post.author.profile_image, class: "avatar-img rounded-circle") %>
            </div>
          </div>
          <div class="col ml-n5">
            <h6 class="text-uppercase mb-0">
              <%= "#{@post.author.first_name} #{@post.author.last_name}" %>
            </h6>
            <time class="font-size-sm text-muted" datetime="2019-05-20">
              Published on <%= Date.parse(@post.published).to_s("bdy") %>
            </time>
          </div>
          <div class="col-auto">
            <div class="addthis_inline_share_toolbox"></div>
          </div>
        </div>

        <div class="py-3">
          <div id="commento"></div>
        </div>

      </div>
    </div> <!-- / .row -->
  </div> <!-- / .container -->
</section>

<div class="position-relative">
  <div class="shape shape-bottom shape-fluid-x svg-shim text-gray-200">
    <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z" fill="currentColor"/>
    </svg>
  </div>
</div>

<script src="https://cdn.commento.io/js/commento.js"></script>
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5ceee2269cdab27c"></script>